@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --background-color: #1c1e21;
  --text-color: #fff;
  --color-primary: #f213a4;
  --color-secondary: #418dff;
  --font: "Inter", sans-serif;
  --border-color: rgba(255, 255, 255, 0.5);
}

body {
  background: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);

  display: flex;
  margin: 0;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
